{{- if eq .Type "publication" -}}
{{- $pdf := "" -}}
{{- with .Params.url_pdf -}}
  {{- if or (hasPrefix . "http://") (hasPrefix . "https://") -}}
    {{- $pdf = . -}}
  {{- else -}}
    {{- $pdf = printf "%s%s" $.Permalink (strings.TrimPrefix "./" .) -}}
  {{- end -}}
{{- end -}}
<meta name="citation_title" content="{{ .Title | plainify }}">
{{- range .Params.authors }}
<meta name="citation_author" content="{{ . }}">
{{- end }}
{{- with .Date }}
<meta name="citation_publication_date" content="{{ .Format "2006/01/02" }}">
{{- end }}
{{- with .Params.publication_short }}
<meta name="citation_journal_title" content="{{ . | plainify }}">
{{- end }}
{{- with .Params.doi }}
<meta name="citation_doi" content="{{ . }}">
{{- end }}
<meta name="citation_language" content="en">
<meta name="citation_abstract_html_url" content="{{ .Permalink }}">
{{- with $pdf }}
<meta name="citation_pdf_url" content="{{ . }}">
{{- end }}
{{- with .Params.tags }}
<meta name="citation_keywords" content="{{ delimit . "; " }}">
{{- end }}
{{- end -}}
